@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.row {
    display: flex;
}
a {
    text-decoration: none;
}
/*===================================================
                     Header
=====================================================*/

.logo {
    display: flex;
    align-items: center;

}

.logo-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    margin-left: 16px;
}

.header .row {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.main-nav__link:not(:first-child) {
    margin-left: 32px;
}

.main-nav__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

/*================================*/

.btn {
    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFFFFF;
    padding: 12px 24px;
}

/*=========================================
            intro
==========================================*/

.intro {
    background: #0EB4C1;
}

.column {
    background-image: url(../img/hero-img.svg);
    background-position: right;
    background-repeat: no-repeat;
    height: 500px;
}

.intro__text__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.intro__text__text {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    width: 440px;
    height: 108px;

}

.intro__text {
    width: 57%;
    margin-right: 117px;
    margin-top: 120px;
}

/*============================================
                  services
==============================================*/
.services {
    margin-bottom: 60px;
}

.services .row {
    display: flex;
    flex-direction: column;
}

.services__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    text-align: center;
}

.sevices-btn {
    margin: 0 440px;
}

.services__text {
    margin-left: 64px;
}

.column4 {
    display: flex;
}

.column4__title {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
}

.column4__text {
    color: #444444;
    font-size: 16px;
    line-height: 150%;
}

/*====================================

======================================*/
.contact-us {
    background: #0EB4C1;
    Height: 253px;
    padding: 40px 256px;
    text-align: center;
}

.concact-us__content {
    width: 56%;
    margin: 0 auto;
}

.concact-us__content__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.contact-us__tel {
    color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    margin: 0 6px;
}

/*=====================================*/

footer {
    background: #222222;
}

.footer-nav__link {
    color: #FFFFFF;
}

footer .row {
    justify-content: space-between;
    padding: 18px 0;
    align-items: center;
}

.foot-logo-text {
    color: #FFFFFF;
}
/*==========================================

===========================================*/
.logo-text:active ,.main-nav__link:active{
    color: #DE2E54;
}
.btn:active{
    color: #DE2E54;
    border: 2px solid #DE2E54;
    background-color: #FFFFFF;
}
.intro__btn:active{
    background: #DE2E54CC;
    color: #FFFFFF;
}

